target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### LOGS ###
logback-spring.xml
logs/
logger/
.Vscode
/filebeat-7.11.0-x86_64.rpm

.vscode/
.DS_Store
bin/

newRelic.log
